@model SOPopularTags.Application.ViewModels.HomeVM
@{
    ViewData["Title"] = "Most popular Stack Overflow tags";
}
<div class="row">
    <div class="col text-center">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <table class="table table-bordered table-striped text-center">
            <thead class="thead-dark">
                <tr>
                    <th>Tag name</th>
                    <th>Number of uses</th>
                    <th>Popularity %</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Count)
                        </td>
                        <td class="align-middle">
                            @item.PopularityPercent.ToString("n2") %
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>